<div class="container">
  <div class="columns is-centered">
    <div class="mt-6 mx-6 card column is-one-third">
      <h1 class="title box has-text-centered">Password Generator</h1>

      <div class="field box">
        <label>Length</label>
        <input class="input" (input)="onChangeLength($event)" />
      </div>

      <div class="field has-background-link-light box">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field has-background-success-light box">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field has-background-danger-light box">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <button
        [disabled]="
          !(
            passwordLength &&
            (includeLetters || includeSymbols || includeNumbers)
          )
        "
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        Generate!
      </button>

      <div
        class="mt-4 box has-background-success-light"
        *ngIf="password && passwordLength"
      >
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
